<!DOCTYPE html>
<html ng-app="TodoApp">
<head>
  <title>Todos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/todosFactory.js"></script>
  <script src="/js/todosController.js"></script>
  <style>
    .done{
      text-decoration: line-through;
      color: black;
    }

    .high{
      color: red;
    }

    .medium{
      color: orange;
    }
  </style>
</head>
<body ng-controller="TodoController as todos">
  <div class="col-xs-6 col-xs-offset-1">
    <table class="table table-hover">
      <tr ng-repeat="item in todos.list" ng-class="{high: item.priority == 1, medium: item.priority == 2}">
        <td ng-class="{done: item.isComplete}">{{item.title}}</td>
        <td>{{item.isComplete}}<span ng-if="item.isComplete">: {{item.completedOn}}</span></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div>
    <form ng-submit="todos.add()">
      <label>Task</label>
      <input type="text" ng-model="todos.new.title">
      <label>Priority</label>
      <select ng-model="todos.new.priority">
        <option value="1">1 (High)</option>
        <option value="2">2 (Med)</option>
        <option value="3">3 (Low)</option>
      </select>
      <label>Difficulty</label>
      <select ng-model="todos.new.difficulty">
        <option value="1">1 (High)</option>
        <option value="2">2 (Med)</option>
        <option value="3">3 (Low)</option>
      </select>
      <button class="btn active">Submit</button>
    </form>
  </div>

</body>
</html>
